<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
           <li><a href="http://twitter.com/manutastic"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="http://github.com/manutastic"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="http://instagram.com/manuoppel"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
